<div class="productContainer">
    <div class="productCard">
        <img class="productImg" [src]="chosenProduct.imgUrl">
        <div class="productInfo">
            <h3 appChangeColor class="productTitle" [color]="chosenColor">{{chosenProduct.title}}</h3>
            <p>View: {{chosenProduct.viewNumber}}</p>
            <p>Buy: {{chosenProduct.buyNumber}}</p>
            <p>Remain: {{chosenProduct.quantity}}</p>
            <h3 class="productPrice">Price: {{chosenProduct.price | currency:'VND'}} </h3>
            <div class="colorChoosing">
                <button *ngFor="let color of colors" [ngStyle]="{'background-color': color}" (click)="setChosenColor(color)"></button>

            </div>
            <button class="productBuyBtn btn btn-primary" [disabled]='isProductClose()' (click)='onOpenTransaction()'>Create Transaction</button>
        </div> 

    </div>
    <hr>
    <div class="productDescription"><p>{{chosenProduct.description}}</p></div>
</div>
